Customer3/src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.example.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.example.com/" name="tp1">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.example.com/" schemaLocation="http://localhost:8889/?xsd=1"/>
</xsd:schema>
</types>
<message name="getCompte">
<part name="parameters" element="tns:getCompte"/>
</message>
<message name="getCompteResponse">
<part name="parameters" element="tns:getCompteResponse"/>
</message>
<message name="listcomptes">
<part name="parameters" element="tns:listcomptes"/>
</message>
<message name="listcomptesResponse">
<part name="parameters" element="tns:listcomptesResponse"/>
</message>
<message name="conversionEurtoDh">
<part name="parameters" element="tns:conversionEurtoDh"/>
</message>
<message name="conversionEurtoDhResponse">
<part name="parameters" element="tns:conversionEurtoDhResponse"/>
</message>
<portType name="WebService1">
<operation name="getCompte">
<input wsam:Action="http://webservice.example.com/WebService1/getCompteRequest" message="tns:getCompte"/>
<output wsam:Action="http://webservice.example.com/WebService1/getCompteResponse" message="tns:getCompteResponse"/>
</operation>
<operation name="listcomptes">
<input wsam:Action="http://webservice.example.com/WebService1/listcomptesRequest" message="tns:listcomptes"/>
<output wsam:Action="http://webservice.example.com/WebService1/listcomptesResponse" message="tns:listcomptesResponse"/>
</operation>
<operation name="conversionEurtoDh">
<input wsam:Action="http://webservice.example.com/WebService1/conversionEurtoDhRequest" message="tns:conversionEurtoDh"/>
<output wsam:Action="http://webservice.example.com/WebService1/conversionEurtoDhResponse" message="tns:conversionEurtoDhResponse"/>
</operation>
</portType>
<binding name="WebService1PortBinding" type="tns:WebService1">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listcomptes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="conversionEurtoDh">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="tp1">
<port name="WebService1Port" binding="tns:WebService1PortBinding">
<soap:address location="http://localhost:8889/"/>
</port>
</service>
</definitions>